doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1 Login
    span #{message}
    form(name="login", action="/login", method="post")
      div.input
        span.label Email
        input(type="text", name="username")
      div.input
        span.label Password
        input(type="password", name="password")
      div.input
        input(type="submit", name="submit")